@font-face
		{
			font-family: Avengers;
			src: url(heroes/HeroesAssembleBoldExpandtalic-qEn1.ttf);
		}
		@font-face
		{
			font-family: Marvel;
			src: url(MarvelRegular-Dj83.ttf);
		}
		@font-face
		{
			font-family: Amelarya;
			src: url(AmelaryasPersonalUse-6Ypw1.ttf);
		}
		.navstyle
		{
		    background-color: #000000;
		}
		.page
		{
			font-family: Avengers;
			color: white;
			margin-top: 1rem;
			width: 30%;
		}
		#rcorners2 {
		  border-radius: 15px 50px;
		  border: 3px solid #b30e16;
		  padding: 20px;
		  width: max-width;
		  height: max-height;
		}
		.menu
		{
			font-family: Marvel;
			color: white;
			margin-top: 1rem;
			font-size: 25px;
		}
		.buildtext
		{
			font-family: Amelarya;
			font-size: 20px;
		}
        .log
        {
            display: none;
        }